.landing {
    max-width: var(--max-content-width);
}

.landing-event-block {
    display: block;
    position: relative;
    width: 100%;
    min-height: 600px;
    max-width: var(--max-content-width);
    margin: 0 auto 60px;
    overflow: hidden;
    text-decoration: none;
}

    .landing-event-block-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
        background-position: 50% 50%;
        background-size: cover;
    }

    .landing-event-block-gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.6) 10%,
            rgba(0, 0, 0, 0.3) 20%,
            rgba(0, 0, 0, 0.1) 40%,
            transparent 100%
        );
    }

    .landing-event-block-info {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 120%;
        width: 100%;
        max-width: 600px;
        margin: 30px;
        padding-bottom: 50px;
        border-radius: 0 !important;
    }

    .landing-event-title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
        font-size: 220%;
        font-weight: 700;
        margin-bottom: 10px;
    }

        .landing-event-title img {
            border-radius: var(--button-border-radius);
        }

    .landing-event-icon {
        width: 50px;
        max-height: 60px;
        aspect-ratio: 1;
    }

    .landing-event-dates,
    .landing-event-location {
        font-size: 120%;
        font-weight: 500;
    }

    .landing-event-description {
        padding-top: 10px;
    }

    .landing-event-sale-dates,
    .landing-event-sold-out {
        padding-top: 15px;
        font-weight: 500;
    }

    .landing-event-sold-out {
        font-size: 140%;
    }

    .landing-event-countdown {
        position: absolute;
        bottom: 0;
        padding: 30px;
        font-size: 120%;
        color: var(--opposite-text-color);
    }

        .landing-event-countdown .countdown-timer {
            justify-content: flex-end;
        }


    .landing-event-block-past {
        min-height: 350px;
    }

        .landing-event-block-past .landing-event-sold-out {
            display: none;
        }


.landing-header-past-events {
    display: block;
    font-weight: 700;
    font-size: 220%;
    margin: 200px 0 50px;
    text-align: center;
}