:root {
    --max-content-width: 1200px;
    --normal-content-width: 1000px;
}

.header {
    width: 100%;
    max-width: var(--normal-content-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-top: 40px;
}

    .header a {
        text-decoration: none;
    }

    .header-logo {
        font-size: 32px;
        font-weight: bold;
    }

    .header-user {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
    }

        .header-user-button {
            font-size: 110%;
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 3px 13px;
        }

        .header-user .avatar {
            width: 40px;
            height: 40px;
        }

.content {
    margin: 0 auto;
    max-width: var(--normal-content-width);
    padding-left: 20px;
    padding-right: 20px;
}

    .content-header {
        font-size: 230%;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
        margin: 0 auto;
    }

    .content-description {
        font-size: 130%;
        text-align: center;
        max-width: 90%;
        padding-bottom: 30px;
        margin: 0 auto;
    }

    .content-description-left {
        text-align: left;
    }

    @media only screen and (max-width : 570px) {
        .content {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

.footer {
    text-align: center;
    margin: 100px auto 200px;
    max-width: 800px;
    padding: 20px;
    opacity: 0.5;
    font-size: 90%;
}

.error {
    max-width: 600px;
}