.profile {
    padding: 30px;
    max-width: 700px;
    margin: 0 auto;
}

    .profile-header {
        margin-top: 30px;
    }

    .profile-buttons {
        display: flex;
        gap: 20px;
        justify-content: center;
        padding-bottom: 40px;
    }

.profile-footer {
    padding-top: 70px;
    text-align: center;
}

.profile-badge {
    max-width: 700px;
    max-height: 700px;
}
