{% extends "layout.html" %}
{% load text_filters %}
{% load events %}

{% block title %}
    Билет на {{ ticket.event.title }}: #{{ ticket.code }} — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content ticket">
        <div class="event-sidebar ticket-sidebar">
            {% include "events/event-sidebar.html" with event=ticket.event %}
        </div>
        <div class="ticket-main animate-on-load">
            <div class="ticket-title">
                Билет на {{ ticket.event.title }}
            </div>

            <div class="ticket-description">
                {% include "tickets/ticket-item.html" %}
            </div>

            {% if checklist %}
                <div class="block">
                    <div class="block-header">☑️ Чеклист участника</div>
                    <div class="ticket-checklist">
                        {% include "tickets/checklist.html" %}
                    </div>
                </div>
            {% endif %}

            {% if ticket.ticket_type.welcome_message_text %}
                <div class="ticket-welcome-message markdown-text">
                    <div class="ticket-welcome-message-title">{{ ticket.ticket_type.welcome_message_title | markdown | safe }}</div>
                    <div class="ticket-welcome-message-text">{{ ticket.ticket_type.welcome_message_text | markdown | safe }}</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
