{% extends "layout.html" %}
{% load static %}
{% load text_filters %}
{% load events %}

{% block title %}
    {{ event.title }} — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content event">
        <div class="event-sidebar">
            {% include "events/event-sidebar.html" with event=event hide_info=True %}
        </div>

        <div class="event-main animate-on-load">
            <div class="event-title">{{ event.title }}</div>


            <div class="event-info">
                {% if event.location %}
                    <div class="event-location">
                        📍
                        {% if event.location_url %}
                            <a href="{{ event.location_url }}">{{ event.location }}</a>
                        {% else %}
                            {{ event.location }}
                        {% endif %}
                    </div>
                {% endif %}

                {% if event.event_starts_at %}
                    <div class="event-date">📅 {% pretty_date_range event.event_starts_at event.event_ends_at %}</div>
                {% endif %}
            </div>

            {% if my_tickets %}
                <div class="event-my-tickets">
                    <div class="block-header">💎 Мои билетики</div>
                    {% for ticket in my_tickets %}
                        {% include "tickets/ticket-item.html" %}
                    {% endfor %}
                </div>
            {% endif %}

            {% if special_ticket_types %}
                <form method="post" action="{% url "buy_tickets" %}">
                    <div class="block ticket-types">
                        <div class="block-header">
                            🎟️ Специальные билетики
                        </div>

                        {% if request.user.is_authenticated %}
                            {% for ticket_type in special_ticket_types %}
                                {% include "events/ticket-type-item.html" %}
                            {% endfor %}

                            {% csrf_token %}
                            {% if special_code %}<input type="hidden" name="special_code" value="{{ special_code }}">{% endif %}

                            {% if not special_ticket_types.0.url %}
                                <div class="ticket-types-buy">
                                    <button type="submit" class="button button-big">
                                        {% if special_ticket_types|is_every_ticket_type_free %}Записаться{% else %}Купить{% endif %}
                                    </button>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="block-description block-description-center">
                                ✨ Тут для вас кое-что есть, но сначала нужно войти в аккаунт! ✨
                            </div>
                            <div class="block-description block-description-center">
                                <a href="{% url "login_club" %}" class="button button-blue">Войти через Вастрик ✖︎ Клуб</a>
                            </div>
                        {% endif %}
                    </div>
                </form>
            {% endif %}

            {% if event.is_sale_active %}
                {% if request.user.is_banned_on_events %}
                    <div class="block event-banned bg-red">
                        <div class="block-header">😢</div>
                        <div class="block-description block-description-center">
                            К сожалению, вы не можете участвовать в этом ивенте и покупка билетов вам недоступна
                        </div>
                    </div>
                {% else %}
                    <form method="post" action="{% url "buy_tickets" %}">
                        <div class="block ticket-types">
                            <div class="block-header">
                                🎟️ Билеты
                            </div>

                            {% if not ticket_types %}
                                <div class="block-description">Хмм, а где все билеты-то?</div>
                            {% endif %}

                            {% for ticket_type in ticket_types %}
                                {% include "events/ticket-type-item.html" %}
                            {% endfor %}

                            {% csrf_token %}

                            {% if not ticket_types.0.url %}
                                <div class="ticket-types-buy">
                                    <button type="submit" class="button button-big">
                                        {% if ticket_types|is_every_ticket_type_free %}Записаться{% else %}Купить{% endif %}
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                {% endif %}
            {% endif %}

            {% if event.is_sale_starts_soon %}
                <div class="block event-sale-countdown">
                    <div class="block-header">🕓 Начало продажи билетов через...</div>
                    <div class="countdown-timer" data-seconds="{{ event.seconds_until_sale_starts }}">
                        <div class="countdown-item">
                            <span class="countdown-value" data-unit="days">0</span>
                            <span class="countdown-label">дней</span>
                        </div>
                        <div class="countdown-item">
                            <span class="countdown-value" data-unit="hours">00</span>
                            <span class="countdown-label">часов</span>
                        </div>
                        <div class="countdown-item">
                            <span class="countdown-value" data-unit="minutes">00</span>
                            <span class="countdown-label">минут</span>
                        </div>
                        <div class="countdown-item">
                            <span class="countdown-value" data-unit="seconds">00</span>
                            <span class="countdown-label">секунд</span>
                        </div>
                    </div>

                    {% if not request.user.is_authenticated and not special_ticket_types %}
                        <div class="block-description block-description-center">
                            <a href="{% url "login_club" %}" class="button">Войдите в аккаунт, чтобы быть готовым</a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {% if event.is_sold_out %}
                <div class="block event-waitlist">
                    <div class="block-header">Кажется у нас Sold Out 😱</div>

                    {% if event.waitlist_url %}
                        <div class="block-description">
                            Кто-то может отказаться и не приехать, так что мы рекомендуем записаться в вейтлист.
                            Мы пинганём вас если освободится местечко — такое случается довольно часто :)
                        </div>

                        <div class="block-description">
                            <a href="{{ event.waitlist_url }}" class="button">Записаться в вейтлист</a>
                        </div>
                    {% else %}
                        <div class="block-description">
                            Все свободные места на этот ивент закончились :(
                        </div>
                    {% endif %}
                </div>
            {% else %}
                {% if not event.sale_starts_at or event.is_sale_starts_soon %}
                    {% if not my_notifications %}
                        <div class="block event-subscription">
                            <div class="block-subheader">🔔 Подпишитесь на уведомления по этому ивенту</div>

                            <form method="POST" action="{% url "subscribe" event.id "all" %}">
                                <div class="block-description event-subscription-form">
                                    {% csrf_token %}
                                    <input type="email" name="email" value="{{ request.user.email }}">
                                    <button class="button button-blue">Уведомите меня!</button>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <div class="block event-subscription">
                            <div class="block-subheader">✅ Вы получите уведомление на «{{ my_notifications.0.email }}» когда начнутся продажи</div>

                            <form method="POST" action="{% url "unsubscribe" event.id "all" %}">
                                <div class="block-description event-subscription-form">
                                    {% csrf_token %}
                                    <button class="button button-red">Не надо!</button>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if event.intro %}
                <div class="event-intro markdown-text">{{ event.intro | markdown }}</div>
            {% endif %}

            {% if participants %}
                <div class="block event-participants">
                    <div class="block-header">❤️ Участники ({{ participants|length }})</div>
                    {% if request.user.is_authenticated %}
                        <div class="event-participants-list">
                            {% for user in participants %}
                                <a href="{{ user.profile_url }}" class="event-participant">
                                    <span class="avatar" style="background-image: url('{{ user.avatar }}');"></span>
                                    <span>{{ user.full_name }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="block-description block-description-center">
                            <a href="{% url "login_club" %}" class="button">Войти через Вастрик ✖︎ Клуб</a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

